body{
    background-image: url(images/bottom-third.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
    font-size: 18px;
    font-family: "Questrial", sans-serif;
    color: #282564;
}

.title-poster {
    width: 100%;
}

.title-poster-700 {
    display: none;
}

.content {
    display: block;
    /* margin-bottom: 35px; */
}

.title-frame {
    float: left;
    width: calc(50% - 20px);
    height: 300px;
    margin-bottom: 80px;
    margin-right: 25px;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    padding: 15px 0;
}

form {
    display: block;
    margin-top: 40px;
    padding: 5%;
}

label {
    display: block;
}

input {
    outline: 0;
    border: none;
    border-radius: 5px 0;
    font-size: 16px;
    padding: 8px;
    margin-top: 10px;
    font-family: "Questrial", sans-serif;
}

button {
    font-size: 16px;
    border-radius: 0 5px;
    display: inline-block;
    margin-top: 10px;
    border: none;
    color: white;
    background: #0c0942;
    font-family: "Questrial", sans-serif;
    padding: 8px 12px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

button:hover{
    color: cyan;
    background: #0b0468;
    cursor: pointer;
}

@media(max-width:1000px){
    body{
        background-image: url(images/bottom-third-1000.jpg);
    }

}

@media(max-width:700px){
    body{
        background-image: url(images/bottom-third-700.jpg);
    }

    .content {
        padding: 5%;
    }

    .title-frame {
        float: none;
        display: block;
        margin: 0 auto;
        width: 80%;
        margin-left: calc(3% + 20px);
    }

    .title-poster{
        display: none;
    }

    .title-poster-700{
        display: block;
        width: 100%;
    }

    h2, form, input{
        text-align: center;
    }
}

@media(max-width:560px){
    body {
        background-image: url(images/bottom-third-560.jpg);
    }
}