html {
    scroll-behavior: smooth;
}

body{
    background-image: url(images/bottom-third.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
    font-size: 18px;
    font-family: "Questrial", sans-serif;
    color: #282564;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 35px 4%;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

p {
    line-height: 1.5;
}

nav {
    background: transparent;
}

.nav-list {
    list-style: none;
    text-align: center;
}

.nav-item {
    display: inline;
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    margin: 0 7.5px;
    padding: 0 2.5px;
}

.nav-item a:hover{
    color: #A40A49;
}

.title-poster {
    width: 100%;
}

.title-poster-700 {
    display: none;
}

.content {
    display: block;
    /* margin-bottom: 35px; */
}

.title-frame {
    float: left;
    width: calc(50% - 20px);
    height: 300px;
    margin-bottom: 80px;
    margin-right: 25px;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    padding: 15px 0;
}

section {
    background-size: cover;
    min-height: 500px;
    margin: 0;
    padding: 20px 0;
}

.s-synopsis {
    background-image: url(images/jackie.jpg);
}

.s-trailer {
    background-image: url(images/adjetey.jpg);
}

.s-showtimes {
    background-image: url(images/lydia.jpg);
}


.section-header {
    text-align: center;
    text-transform: uppercase;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form {
    display: block;
    margin-top: 40px;
    padding: 5%;
}

label {
    display: block;
}

input {
    outline: 0;
    border: none;
    border-radius: 5px 0;
    font-size: 16px;
    padding: 8px;
    margin-top: 10px;
    font-family: "Questrial", sans-serif;
}

button {
    font-size: 16px;
    border-radius: 0 5px;
    display: inline-block;
    margin-top: 10px;
    border: none;
    color: white;
    background: #0c0942;
    font-family: "Questrial", sans-serif;
    padding: 8px 12px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

button:hover{
    color: cyan;
    background: #0b0468;
    cursor: pointer;
}

@media(max-width:1000px){
    body{
        background-image: url(images/bottom-third-1000.jpg);
    }

}

@media(max-width:700px){
    body{
        background-image: url(images/bottom-third-700.jpg);
    }

    .content {
        padding: 5%;
    }

    .title-frame {
        float: none;
        display: block;
        margin: 0 auto;
        width: 80%;
        margin-left: calc(3% + 20px);
    }

    .title-poster{
        display: none;
    }

    .title-poster-700{
        display: block;
        width: 100%;
    }

    h2, form, input{
        text-align: center;
    }
}

@media(max-width:560px){
    body {
        background-image: url(images/bottom-third-560.jpg);
    }
}