body{
    background-image: url(images/bottom-third.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    /* position: relative; */
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
}

.title-poster {
    width: 100%;
}

.title-poster-700 {
    display: none;
}

.content {
    /* background-image: url(images/perfect-picture-movie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 60vh;
    top: 0;
    width: 100%; */
    display: block;
    margin-bottom: 50px;
    
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.title-frame {
    display: block;
    float: left;
    width: 50%;
    max-height: 280px;
    margin-bottom: 50px;
}

form {
    display: block;
    /* float: right; */
}

@media(max-width:1000px){
    body{
        background-image: url(images/bottom-third-1000.jpg);
    }
}

@media(max-width:700px){
    body{
        background-image: url(images/bottom-third-700.jpg);
    }

    .title-poster{
        display: none;
    }

    .title-poster-700{
        display: block;
        width: 100%;
    }
}

@media(max-width:560px){
    body {
        background-image: url(images/bottom-third-560.jpg);
    }
}